<div class="card" style="width: 16rem; margin-top: 16px; margin-left: 4px">
    <img src="{{image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description}}</p>
        <p class="card-text">Temperament: {{temperament}}</p>
        <a href="{{cfa_url}}" class="card-link" target="_blank">Learn more</a>
        <a id="like-{{id}}" href="#" class="btn btn-warning">I like it!</a>
        <div style="display: none">
            id = {{id}}
        </div>
    </div>
</div>