<div class="card" style="width: 14rem;">
    <img src="{{strTeamBadge}}" class="card-img-top mx-auto" alt="team-badge" style="max-width: 70%; margin-top: 10px">
    <div class="card-body">
        <h5 class="card-title">{{strTeam}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{strStadiumLocation}}</h6>
        <p class="card-text">Part of {{strLeague}}</p>
        <button id="team-{{idTeam}}" class="btn btn-sm btn-success" style="text-decoration: none">Click for more info</button>
        <div style="display: none">
            <p style="margin-top: 10px" class="card-textlh-1"> {{strDescriptionEN}}</p>
        </div>
    </div>
</div>